ul.title-area
	li.name
		h1
			a(href="/") Yamn
	li.toggle-topbar.menu-icon
		a(href="#") Menu

section.top-bar-section
	// left nav section
	ul.left
		li.divider
		li
			a(href="/about") About

	// right nav section
	ul.right
		li.divider
		li
			a(href="#") Companies
		li
			a(href="/users") Users